@font-face {
    font-family: "majesti";
    src: url("Majesti-Banner-Medium.otf");
    font-weight: normal; 
    font-style: normal; 

}
h1 {
    color: rgb(240, 78, 35);
    background-color: rgb( 65, 57, 61);
    font-family: majesti, Arial, Helvetica, sans-serif; 
    font-size: 50px;
    text-align: center;
}
body{
    max-width: 920px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    color: rgb(240, 78, 35);
    font-family: majesti, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p {
    color: rgb( 65, 57, 61);
    font-family: majesti, Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: auto;
    padding-left: 225px;
}

.imglogo{ 
    max-width: 400px;
    margin: auto;
}


/* grid containing all the cells */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

/* cell 1 (left photo) */
.cell1{
    padding-right: 2px;
    background-image: url("../images/bamboo.jpg");
    background-size: cover;
    width: 150px;
}

/* cell 2 (slideshow) */
.cell2{
    /* can change my middle element here */
}

.navigation{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
     
}
nav ul{
    list-style: none;
}


nav ul li a{
    font-family: majesti, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(240, 78, 35);
    transition: 0.3s; 
}
nav ul li a:hover{
    color: rgb( 65, 57, 61);
}


/* cell 3 (right photo) */
.cell3{
    padding-left: 2px;
    background-image: url("../images/bamboo.jpg");
    background-size: cover;
    width: 150px;
}
/*I followed a guide here: https://www.geeksforgeeks.org/programming-a-slideshow-with-html-and-css*/

#slideshow{
    overflow: hidden;
    height: 510px;
    width: 615px;
    margin: auto;
}

.slide {
    float: left;
    height: 510px;
    width: 615px;
}

.slide-wrapper {
    width: calc(615px * 4);
    animation: slide 10s ease infinite;
}
.slide:nth-child(1) {
    background-image: url("../images/image4.jpg");
    background-size: cover;
}
   
.slide:nth-child(2) {
    background-image: url("../images/image3.jpg");
    background-size: cover;
}
   
.slide:nth-child(3) {
    background-image: url("../images/image2.jpg");
    background-size: cover;
}
   
.slide:nth-child(4) {
    background-image: url("../images/image1.jpg");
    background-size: cover;
}
@keyframes slide { 
    20% {
        margin-left: 0px;
    }
        
    40% {
        margin-left: calc(-615px * 1);
    }
        
    60% {
        margin-left: calc(-615px * 2);
    }
        
    80% {
        margin-left: calc(-615px * 3);
    }
}

